<template>
    <div class="m_popover">
      <ff-popover ref="popover1">
        <ul style="overflow: hidden">
          <li>12312</li>
          <li>12312</li>
          <li>12312</li>
        </ul>
      </ff-popover>
      <div style="position: relative;width: 100px;height: 100px;background-color: green" v-popover:popover1 @click="val = 5"></div>
      <lb-button cs="4"></lb-button>
    </div>
</template>
<style lang="less" scoped>
.m_popover {

}
</style>
<script>
  import FfPopover from '@/components/popover/popover.vue'
  import LbButton from '@/components/button/button.vue'
export default {
  data () {
    return {
      val: 3,
      ll: 9
    }
  },
  methods: {
    getVal () {
      console.log(this.val)
    }
  },
  provide () {
    return {
      getVal: this.getVal,
      val: this.val,
      ll: this.ll
    }
  },
  /*provide: {
    ll: 23423
  },*/
  components: {
    FfPopover,
    LbButton
  },
  mounted () {
    this.$store.commit('change',2)
    //console.log(this.$store.state)
  }
}
</script>
