<template>
    <div class="m-select">
      <lb-select :options="options" :values="selection" @section="section" class="m-lb-select"></lb-select>
      <!--<p v-text="code_import"></p>
      <p v-text="code_grammar"></p>
      <father :show.sync="show" @listShow="list_show" @mit="mit" :dd="selection" :syncCS.sync="syncCS"></father>
      <lb-date></lb-date>-->
      <ul>
        <li v-for="n in arr">
          <father :show.sync="show" @listShow="list_show" :liBin="liBin"></father>
        </li>
      </ul>
      <!--<el-input placeholder="请输入内容">
        <template slot="prepend">Http://</template>
      </el-input>-->
      <!--<lb-date
        :append-to-body="true"
        :activities.sync="activities"
        label="活动频次"
      ></lb-date>-->
    </div>
</template>
<style lang="less" scoped>
  .m-select {
    height: 100%;
    box-sizing: border-box;
    padding-left: 40px;
    padding-top: 60px;
    .m-lb-select {
      width: 300px;
      height: 28px;
      font-size: 14px;
      line-height: 28px;
      margin-bottom: 40px;
    }
    p {
      line-height: 40px;
      color: red;
      font-size: 20px;
    }
  }
</style>
<script>
  import LbSelect from '../../components/select/select.vue'
  import Father from '../../components/select/fater.vue'
  import LbDate from '../../components/date/date.vue'
  import { toggleObserving, shouldObserve } from '../cs'
  export default {
    name: 'm-select',
    data () {
      let arr = [];
      for(let i=0;i<1;i++){
        arr.push(i)
      }
      return {
        options: [
          {
            label: '选项一',
            value: 1
          },
          {
            label: '选项二',
            value: 2
          },
          {
            label: '选项三',
            value: 3
          },
        ],
        selection: '1',
        code_import: '引入: import LbSelect from \'../../components/select/select.vue\'',
        code_grammar: '语法: <lb-select :options="options" :values="selection" @section="section" class="m-lb-select"></lb-select>',
        show: true,
        arr: arr,
        syncCS: false,
        activities: '',
        liBin: undefined
      }
    },
    methods: {
      section (val) {
        this.selection = val;
      },
      list_show(val){
        this.show = val;
      },
      mit (val) {
        console.log(val)
      }
    },
    components: {
      LbSelect,
      Father,
      LbDate
    },
    mounted () {
      toggleObserving(false)
    }
  }
</script>
