<template>
    <div class="tabel-header" data-prop="asdasd">
      {{params.displayName}}
    </div>
</template>
<style lang="less" scoped>
  .tabel-header {
    display: inline-block;
  }
</style>
<script>
  import Vue from 'vue'
  export default Vue.extend({
    mounted () {
      console.log(this.params.column.colDef)
    }
  })
</script>

