html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,a,abbr,address,big,em,img,q,small,strike,strong,
sub,sup,tt,var,i,dl,dt,dd,ol,ul,li,form,fieldset,label,table,caption,tbody,thead,tfoot,tr,th,td,article,
aside,canvas,details,figure,figcaption,header,footer,hgroup,menu,nav,output,section,time,mark,audio,
video,input,select,button{margin:0;padding:0;}
/*去除默认样式*/

html,body {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif; /*使用无衬线字体*/
}

h1,h2,h3,h4,h5,h6{font-size:100%;font-weight: normal;}

ul,ol,li{list-style:none;}
/*去除默认样式*/

table{border-collapse:collapse;border-spacing:0;}
/*表格边框合并，边框距零*/

a{text-decoration:none;color:#000;}
a:hover{text-decoration:none;}
/*去除a链接的默认样式*/

/*html5标签*/
header,footer,section,article,aside,nav,figure{display:block;}

fieldset, img{border:none;display:block;}
/*去除图片的边框*/

.clearfix::after{
  content:'';
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  line-height: 0;
}
/*伪类清除浮动*/
