@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2017-09-07 18:25:55
 * @version $Id$
 */




.el-pagination{
  font-family: "Microsoft YaHei", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti!important;
    flex: 1;
    text-align: left;
    padding: 0;
    font-size: 12px!important;
    span{
      height: 24px;
      line-height: 24px;
      font-size: 12px!important;
    }

    button{
      height: 24px;
      line-height: 24px;
    }

    .el-input{
      font-size: 12px!important;
    }

    p{
      font-size: 0;
      margin-top: 0px;
      vertical-align: top;
      button{
        margin: 0!important;
        border: 1px solid #d1dbe5;
        border-right: none;
        border-radius: 0;
        width: 24px;
        padding: 0;
        box-sizing: border-box;

        &:hover{
          border-color: #d1dbe5;
        }
        &:active{
          border-color: #d1dbe5;
        }
        &:focus{
          border-color: #d1dbe5;
        }

        span{
          width: 24px;
          line-height: 23px;

          i{
            font-size: 21px;
          }
        }
      }

      button:first-child{
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }

      button:last-child{
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border-right: 1px solid #d1dbe5;
      }
    }

    .el-pagination__total{
      margin: 0 5px 0px 0px;
    }

    .el-pagination__sizes{
      margin: 0px 4px 0 0;
      .el-select{
        .el-input{
          width: auto;
          max-width: 80px;
          height: 24px;
          font-size: 12px;
          .el-input__icon{
            width: 19px;
            height: 24px;
          }

          input{
            height: 24px;
            padding: 0px 3px;
            font-size: 12px!important;
            color: #48576a!important;
          }
        }
      }
    }

    .el-pager{
      li.active{
          border-color: #d4dade;
          background-color: #d4dade;
          color: #575757!important;
      }

      li{
        height: 24px;
        line-height: 24px;
        font-size: 12px!important;
        &:hover{
          color: #d4dade;
        }
      }
    }

    .el-pagination__jump{
      margin-left: 5px;
    	input{
    		width: 24px;
    		line-height: 14px;
        margin: 0 2px;
    	}
    }
  }