<template>
	<div>
		<button  @click="b">点击子组件</button>
	</div>
</template>
<script type="text/javascript">
	export default {
	    props: ['c'],
		data(){
			return{

			}
		},
		methods:{
			b(val){
				console.log(this.c)
				this.$emit('listHah',{
					id:2
				})
			}
		}
	}
</script>